/*Font classes*/
.bona-nova-regular {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-bold {
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-regular-italic {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: italic;
}

/*HTML styling*/

body{
  background-image: url(src/pexels-jplenio-1118873.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}