/*Font classes*/
.bona-nova-regular {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-bold {
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-regular-italic {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: italic;
}

/*HTML styling*/

body{
  background-image: url(src/pexels-jplenio-1118873.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 10%;
}

/*Cointainer styling*/
.main-content{
font-family: Bona Nova;
margin: 0 auto;
background-color: rgba(255, 255, 255, 0.309);
padding: 20px 30px;
border-radius: 20px;
max-width: 600px;
color: rgb(2, 2, 24);
}

/*Search-Panel Styling*/
.search-input, .search-output{
  padding: 5px 10px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid ;
}
.search-input{
  width: 80%;
}
.search-output{
  transition: all ease 200ms;
  cursor: pointer;
}
.search-output:hover{
  background: darkblue;
  color: white;
  border: transparent;
}

/*Page Content styling*/

.weather-content{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}
li{
  margin: 0 auto;
}
.location{
  margin-left: 0;
}
.weather-info{
  font-size: 16px;
  text-align: center;
  justify-content: stretch;
}
.footer{
  text-align: center;

}
.temperature{
  margin: 0;
  width: fit-content;

}
.weather-app-icon{
  width: 35px;
}
.logo{
  text-align: center;
}
a{
  text-decoration: none;
  font-size: 15px;
  color: turquoise
}
sub{
  color: rgba(0, 0, 0, 0.409);
}
b{
  color: darkslategray;
}
/*Theme toggles*/
.warmDay{
  background-image: url(src/sunnyday.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

}
.coldDay{
  background-image: url(src/cloudyday.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
 /*Forecast Styling*/

 .weather-forecast-date{
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: rgb(47, 79, 80)
 }
 .weather-forecast-icon{
  font-size: 30px;
  text-align: center;
 }
 .weather-forecast-temperature{
  text-align: center;
  color: rgb(47, 79, 80);
  display: flex;
  justify-content: center;
  margin-top: 5px;
 }
 .weather-forecast-temp{
  padding: 0 10px;
 }
 .weather-forecast{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  }

